div{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

body{
    background-color: rgb(243, 240, 237);
}

img {
    margin-left: 200px;
    margin-right: auto;
    display: block;
}
.cadre {
    background-color: #bb8ab4;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    border: 1px; 
    max-width: 500px;
    margin: 10px;
    height: 650px;

}
.cadre1 {
    background-color: #8f6a9b;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    border: 1px; 
    max-width: 500px;
    margin: 10px;
    height: 200px;
}
.cadre2 {
    background-color: #70417e;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    border: 1px; 
    max-width: 500px;
    margin: 10px;
    height: 200px;
}

.parent {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.cadre3{
    background-color: #8f6a9b;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    border: 1px; 
    max-width: 500px;
    margin: 10px;
     height: 150px;

}

.cadre4 {
background-color: #70417e;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    border: 1px; 
    max-width: 500px;
    margin: 10px;
}

.cadre5 {
    background-color: #bb8ab4;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    border: 1px; 
    max-width: 500px;
    margin: 10px;
    height: 220px;
}

.cadre6 {
    background-color: #bb8ab4;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    border: 1px; 
    max-width: 500px;
    margin: 10px;
    height: 220px;
}



button {
  --btn-padding: 0.7em 1.2em;
  --btn-bg: #342a21;
  --btn-color: #ffffff;
  --btn-hover-bg: #4b4b4a;
  --btn-radius: 0.5em;
  --btn-border-width: 3px;

  display: inline-flex;
  align-items: center;
  padding: var(--btn-padding);
  gap: 0.5em;

  background: var(--btn-bg);
  color: var(--btn-color);
  border: var(--btn-border-width) solid var(--btn-bg);
  border-radius: var(--btn-radius);
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background: var(--btn-hover-bg);
}