header h1 {
text-align: center;
font-family: impact;
font-size: 3em;
color: #ffffff;
}
body {
display: inline-block;
background-color: #002b56;
padding-left: 20px;
padding-right: 20px;
}

/* Box classes */

.box_about {
height: 300px;
width: 300px;
padding: 20px;
padding-right: 20px;
background-color: #0073c5;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #00ffff;
border-width: 5px;
box-shadow: 0 0 10px #00ffff;
}
.box_passions {
margin-left: 410px;
margin-top: -370px;
padding-right: 20px;
height: 300px;
width: 600px;
padding: 20px;
background-color: #6d0040;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #ff00e1;
border-width: 5px;
box-shadow: 0 0 10px #ff00e1;
}
.box_contact {
margin-left: 1100px;
margin-top: -370px;
padding-left: 20px;
height: 300px;
width: 300px;
padding: 20px;
background-color: #003809;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #2bb800;
border-width: 5px;
box-shadow: 0 0 10px #2bb800;
}
.box_projects {
width: 1400px;
padding: 20px;
margin-top: 20px;
background-color: #6d2800;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #ff6f00;
border-width: 5px;
box-shadow: 0 0 10px #ff6f00;
}

/* Text classes */

.box-title {
margin-top: 10px;
font-family: Impact, monospace;
font-size: 2em;
color: #ffffff;
-webkit-text-stroke: 0.5px #000000;
}
.box-title_alt1 {
text-align: left;
margin-top: 10px;
font-family: Impact, monospace;
font-size: 2em;
color: #ffffff;
-webkit-text-stroke: 0.5px #000000;
}
.box-title_alt2 {
text-align: right;
margin-top: 10px;
font-family: Impact, monospace;
font-size: 2em;
color: #ffffff;
-webkit-text-stroke: 0.5px #000000;
}
.text_box {
padding: 20px;
background-color: #0040ff;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #00c8ff;
border-width: 5px;
box-shadow: 0 0 10px #00bbff;
}
.text_box_passions {
justify-content: center;
margin: 0 auto;
width: 500px;
height: 175px;
padding: 20px;
background-color: #a800c2;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #d400ff;
border-width: 5px;
box-shadow: 0 0 10px #d400ff;
}
.text_box_projects {
padding: 20px;
background-color: #a72a00;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #ff6600;
border-width: 5px;
box-shadow: 0 0 10px #ff6600;
}
.text_box_projects_alt1 {
justify-content: center;
width: 500px;
height: 175px;
padding: 20px;
background-color: #a72a00;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #ff6600;
border-width: 5px;
box-shadow: 0 0 10px #ff6600;
}
.text_box_projects_alt2 {
justify-content: center;
margin-left: 850px;
margin-top: -300px;
width: 500px;
height: 175px;
padding: 20px;
background-color: #a72a00;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #ff6600;
border-width: 5px;
box-shadow: 0 0 10px #ff6600;
}
.text_box_contact {
justify-content: center;
width: 275px;
height: 75px;
padding: 10px;
margin-top: -10px;
background-color: #006511;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #2bb800;
border-width: 5px;
box-shadow: 0 0 10px #2bb800;
}
.text_box_contact_alt {
justify-content: center;
width: 275px;
height: 25px;
padding: 10px;
margin-top: -10px;
background-color: #006511;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #2bb800;
border-width: 5px;
box-shadow: 0 0 10px #2bb800;
}

/* Utilitary classes */
.button {
  --btn-padding: 0.7em 1.2em;
  --btn-bg: #342a21;
  --btn-color: #ffffff;
  --btn-hover-bg: #4b4b4a;
  --btn-radius: 0.5em;
  --btn-border-width: 3px;

  display: inline-flex;
  align-items: center;
  padding: var(--btn-padding);
  gap: 0.5em;

  background: var(--btn-bg);
  color: var(--btn-color);
  border: var(--btn-border-width) solid var(--btn-bg);
  border-radius: var(--btn-radius);
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background: var(--btn-hover-bg);
}
.banner-container {
  background-image: url('image copy.png');
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}