header {
    width: 100%;
    height: 50%;
    background-color: blueviolet;
    border: 5px solid #0074e1;
    border-radius: 10px;
}

body {
    background-color: rgb(0, 10, 125);
    display: block;
}

.student-card {
    height: 100%;
    width: 25%;
    padding: 20px;
    background-color: #0073c5;
    font-family: sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: 2px solid #00ffff;
    border-width: 5px;
    box-shadow: 0 0 10px #00ffff;
}

.student-avatar {
    margin-left: 37%;
    align-items: center;
    height: 75%;
    width: 25%;
    background-color: #0073c5;
    font-family: sans-serif;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #00ffff;
    border-width: 5px;
    box-shadow: 0 0 10px #00ffff;    
}
.student-img {
    width: 100%;
    height: 100%;
    border-radius: 25%;
}

button {

    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 2px solid #00ffff;

  --btn-padding: 0.7em 1.2em;
  --btn-bg: #020067;
  --btn-color: #0069e1;
  --btn-hover-bg: #002ad1;
  --btn-radius: 0.5em;
  --btn-border-width: 3px;

  gap: 0.5em;

  background: var(--btn-bg);
  color: var(--btn-color);
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;

  transition: background-color 0.3s ease, color 0.3s ease;
}
button:hover {
  background: var(--btn-hover-bg);
}