header {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50%;
    background-color: rgb(0, 0, 186);
    border: 5px solid #00ffff;
    border-radius: 10px;
}
.head {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50%;
    background-color: rgb(0, 0, 186);
    border: 5px solid #00ffff;
    border-radius: 10px;
}
body {
    background-color: rgb(0, 12, 65);
    align-items: center;
}
.central {
    position: absolute;
    top: 70%;
    left: 25%;
    width: 800px;
    height: 800px;

    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.student-card {
    padding: 20px;
    font-family: sans-serif;
    border: 2px solid #11ff00;
    border-width: 5px;
    box-shadow: 0 0 10px #11ff00;
    
    position: absolute;

    text-align: center;

    height: 300px;
    width: 300px;
    background: rgb(0, 75, 11);
}
.student-card2 {
    padding: 20px;
    font-family: sans-serif;
    border: 2px solid #ff7300;
    border-width: 5px;
    box-shadow: 0 0 10px #ff7300;

    position: absolute;
    text-align: center;
    left: 56.25%;

    height: 300px;
    width: 300px;
    background: rgb(101, 39, 0);
}
.student-card3 {
    padding: 20px;
    font-family: sans-serif;
    border: 2px solid #00fff2;
    border-width: 5px;
    box-shadow: 0 0 10px #00fff2;

    
    position: absolute;
    text-align: center;
    bottom: 0%;
    right: 56.25%;

    height: 300px;
    width: 300px;
    background: rgb(0, 90, 112);
}
.student-card4 {
    padding: 20px;
    font-family: sans-serif;
    border: 2px solid #b300ff;
    border-width: 5px;
    box-shadow: 0 0 10px #b300ff;

    
    position: absolute;
    text-align: center;
    bottom: 0%;
    right: 0%;

    height: 300px;
    width: 300px;
    background: rgb(58, 0, 86);
}

.student-avatar {
    margin-top: 10%;
    margin-left: 10%;
    height: 50px;
    width: 50px;
    background-color: #0073c5;
    font-family: sans-serif;
    border-radius: 25px;
    border: 2px solid #00ffff;
    border-width: 5px;
    box-shadow: 0 0 10px #00ffff;   
    transform: rotate(-45deg);
}
.student-img {
    width: 50px;
    height: 50px;
    border-radius: 25%;
}
.student-bio, .student-name {
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: rotate(-45deg);
}
.txtbtn {
    transform: rotate(45deg);
}

button {

    margin-left: 74%;
    margin-top: 7%;

    transform: rotate(-90deg);

    width: 75px;
    height: 75px;
    border: 2px solid #00ffff;


  --btn-padding: 0.7em 1.2em;
  --btn-bg: #020067;
  --btn-color: #0069e1;
  --btn-hover-bg: #002ad1;
  --btn-radius: 0.5em;
  --btn-border-width: 3px;

  gap: 0.5em;

  background: var(--btn-bg);
  color: var(--btn-color);
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;

  transition: background-color 0.3s ease, color 0.3s ease;
}
button:hover {
  background: var(--btn-hover-bg);
}
.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .text {
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 45px;
  text-transform: uppercase;
  transform: scale(2);
  letter-spacing: 2px;
  padding: 20px;
}
.content .text:before,
.content .text:after {
  position: absolute;
  content: attr(data-text);
  padding: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #fff;
  overflow: hidden;
}
.content .text:before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation: glitch-1 2s 0s linear reverse infinite;
}
.content .text:after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation: glitch-2 2s 0s linear reverse infinite;
}
@keyframes glitch-1 {
    0% {
    clip: rect(132px, auto, 101px, 30px);
  }
  5% {
    clip: rect(17px, auto, 94px, 30px);
  }
  10% {
    clip: rect(40px, auto, 66px, 30px);
  }
  15% {
    clip: rect(87px, auto, 82px, 30px);
  }
  20% {
    clip: rect(137px, auto, 61px, 30px);
  }
  25% {
    clip: rect(34px, auto, 14px, 30px);
  }
  30% {
    clip: rect(133px, auto, 74px, 30px);
  }
  35% {
    clip: rect(76px, auto, 107px, 30px);
  }
  40% {
    clip: rect(59px, auto, 130px, 30px);
  }
  45% {
    clip: rect(29px, auto, 84px, 30px);
  }
  50% {
    clip: rect(22px, auto, 67px, 30px);
  }
  55% {
    clip: rect(67px, auto, 62px, 30px);
  }
  60% {
    clip: rect(10px, auto, 105px, 30px);
  }
  65% {
    clip: rect(78px, auto, 115px, 30px);
  }
  70% {
    clip: rect(105px, auto, 13px, 30px);
  }
  75% {
    clip: rect(15px, auto, 75px, 30px);
  }
  80% {
    clip: rect(66px, auto, 39px, 30px);
  }
  85% {
    clip: rect(133px, auto, 73px, 30px);
  }
  90% {
    clip: rect(36px, auto, 128px, 30px);
  }
  95% {
    clip: rect(68px, auto, 103px, 30px);
  }
  100% {
    clip: rect(14px, auto, 100px, 30px);
  }
}
@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 4px, 30px);
  }
  10% {
    clip: rect(85px, auto, 66px, 30px);
  }
  15% {
    clip: rect(91px, auto, 91px, 30px);
  }
  20% {
    clip: rect(148px, auto, 138px, 30px);
  }
  25% {
    clip: rect(38px, auto, 122px, 30px);
  }
  30% {
    clip: rect(69px, auto, 54px, 30px);
  }
  35% {
    clip: rect(98px, auto, 71px, 30px);
  }
  40% {
    clip: rect(146px, auto, 34px, 30px);
  }
  45% {
    clip: rect(134px, auto, 43px, 30px);
  }
  50% {
    clip: rect(102px, auto, 80px, 30px);
  }
  55% {
    clip: rect(119px, auto, 44px, 30px);
  }
  60% {
    clip: rect(106px, auto, 99px, 30px);
  }
  65% {
    clip: rect(141px, auto, 74px, 30px);
  }
  70% {
    clip: rect(20px, auto, 78px, 30px);
  }
  75% {
    clip: rect(133px, auto, 79px, 30px);
  }
  80% {
    clip: rect(78px, auto, 52px, 30px);
  }
  85% {
    clip: rect(35px, auto, 39px, 30px);
  }
  90% {
    clip: rect(67px, auto, 70px, 30px);
  }
  95% {
    clip: rect(71px, auto, 103px, 30px);
  }
  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}