header h1 {
font-family: impact;
font-size: 3em;
color: #ffffff;
}
body {
background-color: #002b56;
}
.box {
height: 300px;
width: 300px;
padding: 20px;
background-color: #0073c5;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #00ffff;
border-width: 5px;
box-shadow: 0 0 10px #00ffff;
}
.box_2 {
margin-left: 400px;
margin-top: -370px;
height: 300px;
width: 600px;
padding: 20px;
background-color: #6d0040;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #ff00e1;
border-width: 5px;
box-shadow: 0 0 10px #ff00e1;
}
.box_3 {
padding: 20px;
background-color: #6d2800;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #ff6f00;
border-width: 5px;
box-shadow: 0 0 10px #ff6f00;
}
.box_4 {
margin-left: 1100px;
margin-top: -370px;
height: 300px;
width: 300px;
padding: 20px;
background-color: #003809;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #2bb800;
border-width: 5px;
box-shadow: 0 0 10px #2bb800;
}
.box-title {
margin-top: 10px;
font-family: Impact, monospace;
font-size: 2em;
color: #ffffff;
-webkit-text-stroke: 0.5px #000000;
}
.icon {
margin-right: -25px;
}
.banner {
margin-top: -20px;
}
.text_box {
padding: 20px;
background-color: #0040ff;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #00c8ff;
border-width: 5px;
box-shadow: 0 0 10px #00bbff;
}
.text_box2 {
justify-content: center;
margin: 0 auto;
width: 500px;
height: 175px;
padding: 20px;
background-color: #a800c2;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #d400ff;
border-width: 5px;
box-shadow: 0 0 10px #d400ff;
}
.text_box3 {
padding: 20px;
background-color: #a72a00;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #ff6600;
border-width: 5px;
box-shadow: 0 0 10px #ff6600;
}
.text_box4 {
justify-content: center;
margin: 0 auto;
width: 500px;
height: 175px;
padding: 20px;
background-color: #a72a00;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #ff6600;
border-width: 5px;
box-shadow: 0 0 10px #ff6600;
}
.text_box5 {
justify-content: center;
margin-top: -12px;
margin-left: -10px;
width: 275px;
height: 75px;
padding: 20px;
background-color: #006511;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #2bb800;
border-width: 5px;
box-shadow: 0 0 10px #2bb800;
}
.text_box5_alt {
justify-content: center;
margin-top: -10px;
margin-left: -10px;
width: 275px;
height: 25px;
padding: 20px;
background-color: #006511;
font-family: sans-serif;
text-align: center;
border-radius: 10px;
border: 2px solid #2bb800;
border-width: 5px;
box-shadow: 0 0 10px #2bb800;
}